body {
  background: linear-gradient(107.32deg, #8048D8 5.53%, #544ADE 22%);
}

.container {
  display: grid;
  gap: 10px;
  grid-template:
    "header header" 100px
    "sidebar body" 500px
    "footer footer" 100px
    / 200px 2fr;
}

.header {
  grid-area: header;
}

.body {
  grid-area: body;
}

.sidebar {
  grid-area: sidebar;
}

.footer {
  grid-area: footer;
}

@media (max-width: 600px) {
  .container {
    grid-template:
    "header" 100px
    "sidebar" 300px
    "body" 500px
    "footer" 100px
    / 1fr;
  }
}

.container > div {
  font-weight: bold;
  font-size: 20px;
  color: white;
  border: 2px solid #fe7a71;
  display: flex;
  align-items: center;
  justify-content: center;
}
